
body {
   background-image: url("clown_background.png");
   background-color: White;
   margin: 0;
   overflow-x: hidden;
}

#header {
	width: 100%;
	display: inline-block;
	padding: 3px;
}

#header-img {
	display: block;
	border: 1px solid black;
	margin: auto;
	border-radius: 10px;
}

#main-panel {
	background-color: White;
	width: 80%;
	margin: auto;
	border-style: solid;
	border-color: Black;
	border-width: thin;
	padding: 5px;
	border-radius: 10px;
}
