/*
Facebook profile picture baloon colours:

Blue: #079EE7
Red: #F31B0C
Yellow: #FDEF0A

*/

@font-face {
    font-family: comicNeue;
    src: url(fonts/ComicNeue-Regular.woff);
}

@font-face {
    font-family: comicNeue;
    src: url(fonts/ComicNeue-Bold.woff);
    font-weight: bold;
}

@font-face {
    font-family: comicNeue;
    src: url(fonts/SF_Cartoonist_Hand_Italic.ttf);
    font-style: italic;
}

body {
   background-image: url("images/clown_background.png");
   background-color: White;
   margin: 0;
   overflow-x: hidden;
   overflow-y: scroll;
}

#header {
	width: 100%;
	display: inline-block;
	padding: 0.5em;
}

#header-img, #main-panel {
	border-radius: 1em;
}

#header-img {
	display: block;
	border: 1px solid black;
	margin: auto;
}

#main-panel {
	background-color: White;
	width: 90%;
	margin: auto;
	margin-bottom: 1em;
}

#menu-bar {
	background-color: #079EE7;
	font-size: 1.5em;
	font-weight: bold;
	padding: 0;
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
	border: thin solid black;
	overflow: hidden;
}

#menu-bar a, #clown-bookmarks a, #current-page {
	text-decoration: none;
	color: #FDEF0A;
	background-color: #0893D3;
	border-radius: 0.3em;
	padding: 0.08em 0.2em;
	border: 2px outset #F31B0C;
	font-family: comicNeue, cursive;
}

#current-page {
	border-color: #079EE7;
	border-style: inset;
}

#menu-bar a, #current-page {
	float: left;
	margin: 0.15em;
}

#menu-bar a:active {
	border-style: inset;
	background-color: #079EE7;
}

table, td, tr {
	border: thin solid Black;
	padding: 0;
	border-collapse: collapse;
}

table#bank-details, #bank-details th, #bank-details td {
	padding: 0.5em;
}

#contact-details {
	margin: 0.75em auto;
	font-size: 1.25em;
	font-family: comicNeue, cursive;
}

#contact-details,
#contact-details th,
#contact-details tr,
#contact-details td {
	border-color: LightGrey;
}

#contact-details td,
#contact-details th {
	padding: 0.5em;
}

#contact-us-image {
	margin-top: 1em;
}

#main-panel-content {
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
	margin-bottom: 1em;
}

.content-block {
	width: 60%;
	margin: auto;
	margin-bottom: 2em;
	border: 1.5px dotted #f0f0f0;
	border-width: 0 2px;
	padding: 0 1em;
}

@media only screen and (max-width: 500px) {
	.content-block {
		width: 90%;
	}
	
	#contact-details {
		margin: 0.5em;
		font-size: 1em;
		font-family: comicNeue, cursive;
	}
	
	.doctor-box {
		width: 80% !important;
	}
	
	#clown-bookmarks {
		display: none;
	}
	
	#gallery-images img {
		width: 300px !important;
	}
}

.content-block img {
	display: block;
	width: 60%;
	margin: auto;
	border: 2px solid Black;
	border-radius: 1em;
}

#smile-img {
	width: 9em;
	height: 9em;
	border: thin solid Black;
	border-radius: 0.5em;
}

#testimonials-content-block {
	width: 40%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: comicNeue, cursive;
	margin: 0.5em 0 0.5em 0;
}

p {
	font-family: comicNeue, cursive;
}

#main-panel {
	overflow: hidden;
	border: thin solid Black;
}

.event-block {
	border: thin solid #079EE7;
	padding: 1em;
	border-radius: 1em;
	margin-top: 1em;
	background-color: GhostWhite;
}

.event-summary {
	margin: 1em;
	padding: 0.5em;
	border: thin solid Pink;
	border-radius: 0.5em;
	border-style: outset;
	background-color: rgb(252, 252, 255);
}

.vimeo-vid {
	margin: 1em;
}

#intro-text {
}

#fb-page-plugin-div {
	width: 500px;
	margin: auto;
}

#fb-page-plugin {
	margin: 2em;
}

img {
	display: block;
}

#gallery-helper-heading {
	text-align: center;
}

#gallery-images {
	width: 95%;
	margin: auto;
}

#gallery-table {
	margin: auto;
}

#gallery-table img {
	margin: auto;
}

#clown-bookmarks {
	float: left;
	position: fixed;
	background-color: #079EE7;
	border: thin solid Black;
	border-width: 1px 1px 1px 0;
	border-radius: 0 0 1em 0;
}

#clown-bookmarks a {
	clear: left;
	display: block;
	margin: 0.5em;
	color: Black;
	background-color: White;
}

#clown-bookmarks a:active {
	border-style: inset;
	background-color: GhostWhite;
}

.doctor-box {
	width: 50%;
	margin: auto;
	border: 2px solid black;
	border-radius: 1em;
	padding: 0.5em;
	margin-top: 3em;
	margin-bottom: 1em;
}

.doctor-box h1 {
	margin: 0;
}

.doctor-box img {
	display: block;
	width: 40%;
	margin: 0.5em;
	margin-left: auto;
	margin-right: auto;
	border-radius: 0.5em;
	border: 1px solid black;
}

.doctor-question, .doctor-answer {
	font-weight: bold;
}

.question-char {
	color: #07C6E7;
}

.answer-char {
	color: #F31B0C;
}

.question-char, .answer-char {
	font-size: 1.5em;
}

.doctor-info {
	text-align: left;
}

#doctor-ditzy-box h1,
#doctor-crazyface-box h1,
#doctor-funnybones-box   h1,
#doctor-coolio-box h1,
#doctor-dizzylizzy-box h1 {
	display: inline-block;
	padding: 0.1em;
	margin: auto;
	background-color: inherit;
	border: inherit;
	border-width: 1px;
	border-color: Black;
	border-radius: 0.2em 0.6em;
}

#doctor-ditzy-box,
#doctor-crazyface-box,
#doctor-funnybones-box,
#doctor-coolio-box,
#doctor-dizzylizzy-box  {
	text-align: center;
}

#doctor-razzmatazz-box p,
#doctor-ditzy-box p,
#doctor-funnybones-box p,
#doctor-coolio-box p,
#doctor-dizzylizzy-box p {
	background-color: White;
	border: 1px solid Black;
	border-radius: 0.5em;
	padding: 0.2em;
	margin-bottom: 3em;
}

#doctor-ditzy-box {
	background-color: #FDEF0A;
	background-image: url("images/doctors/ditzy_glitzy/yellow_stuff_background.png");
}

#doctor-ditzy-box p {
	background-color: #FDEF0A;
}

#doctor-dlicious-box {
	background: linear-gradient(to left, Red, Orange, Yellow, Yellow, Lime, Lime,  Cyan);
}

#doctor-crazyface-box {
	background-image: url("images/doctors/crazy_face/chocolate_background.png");
	background-repeat: repeat-x;
	background-color: White;
}

#doctor-razzmatazz-box {
	background-image: url("images/doctors/razzmatazz/every_colour.jpg");
}

#doctor-funnybones-box {
	background-image: url("images/doctors/funnybones/fish_in_space.png");
	background-color: #3390FF;
}

#doctor-coolio-box {
	background-image: url("images/doctors/coolio/cool_background.jpg");
	background-color: #3390FF;
}

#doctor-coolio-box p {
	background-color: #3390FF;
}

#doctor-dizzylizzy-box {
	background-color: #FF7F7F;
	background-image: url("images/doctors/dizzylizzy/dizzylizzy_background.png");
}

#doctor-dizzylizzy-box p {
	background-color: #FF7F7F;
}

.testimonial {
	margin-top: 1em;
	padding: 0.5em;
	text-align: center;
	border: thin solid Pink;
	border-width: 2px 0 0 0;
}

#governance-files {
	font-size: 1.3em;
}