/*
Facebook profile picture baloon colours:

Blue: #079EE7
Red: #F31B0C
Yellow: #FDEF0A

*/

body {
   background-image: url("images/clown_background.png");
   background-color: White;
   margin: 0;
   overflow-x: hidden;
}

#header {
	width: 100%;
	display: inline-block;
	padding: 0.5em;
}

#header-img, #main-panel {
	border-radius: 1em;
}

#header-img {
	display: block;
	border: 1px solid black;
	margin: auto;
}

#main-panel {
	background-color: White;
	width: 80%;
	margin: auto;
}

#menu-bar {
	background-color: #079EE7;
	font-size: 1.5em;
	padding: 0.3em;
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
	border: thin solid black;
}

#menu-bar a, #clown-bookmarks a {
	text-decoration: none;
	color: #FDEF0A;
	background-color: #0893D3;
	border-radius: 0.3em;
	padding: 0.2em;
	border: 2px outset #F31B0C;
}

#menu-bar a:active {
	border-style: inset;
	background-color: #079EE7;
}

#main-panel-content {
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
	border: thin solid black;
	margin-bottom: 1em;
}

.content-block {
	width: 50%;
	margin: auto;
	margin-bottom: 2em;
	border: 1px solid black;
	border-width: 0 1px;
	padding: 0 1em;
}

.content-block img {
	display: block;
	width: 60%;
	margin: auto;
	border: 2px solid Black;
	border-radius: 1em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Comic Sans MS";
	margin: 0 0 0.5em 0;
}

#clown-bookmarks {
	float: left;
	position: fixed;
	background-color: #079EE7;
	border: inherit;
	border-width: 1px 1px 1px 0;
}

#clown-bookmarks a {
	clear: left;
	display: block;
	margin: 0.5em;
	color: Black;
	background-color: White;
}

#clown-bookmarks a:active {
	border-style: inset;
	background-color: GhostWhite;
}

.doctor-box {
	width: 50%;
	margin: auto;
	border: 2px solid black;
	border-radius: 1em;
	padding: 0.5em;
	margin-top: 1em;
	margin-bottom: 1em;
}

.doctor-box img {
	display: block;
	width: 40%;
	margin: 0.5em;
	margin-left: auto;
	margin-right: auto;
	border-radius: 0.5em;
	border: 1px solid black;
}

.doctor-question, .doctor-answer {
	font-weight: bold;
}

.question-char {
	color: #079EE7;
}

.answer-char {
	color: #F31B0C;
}

.question-char, .answer-char {
	font-size: 1.5em;
}

#doctor-ditzy-box {
	background-color: #FDFF0A;
	background-image: url("images/doctors/ditzy_glitzy/yellow_stuff_background.png");
}

#doctor-dlicious-box {
	background: linear-gradient(to left, Red, Orange, Yellow, Yellow, Lime, Lime,  Cyan);
}

#doctor-crazyface-box {
	background-image: url("images/doctors/crazy_face/chocolate_background.png");
	background-repeat: repeat-x;
}

.doctor-info {
	text-align: left;
}


#doctor-crazyface-box h1,
#doctor-razzmatazz-box h1,
#doctor-funnybones-box   h1,
#doctor-coolio-box h1,
#doctor-dizzylizzy-box h1 {
	display: inline-block;
	padding: 0.1em;
	margin: auto;
	background-color: White;
	border: inherit;
	border-width: 1px;
	border-color: Black;
	border-radius: 0.2em 0.6em;
	text-align: center;
}

#doctor-razzmatazz-box p,
#doctor-ditzy-box p,
#doctor-funnybones-box p,
#doctor-coolio-box p,
#doctor-dizzylizzy-box p {
	background-color: white;
	border: 1px solid Black;
	border-radius: 0.5em;
	padding: 0.2em;
}

#doctor-crazyface-box,
#doctor-razzmatazz-box,
#doctor-funnybones-box,
#doctor-coolio-box,
#doctor-dizzylizzy-box  {
	text-align: center;
}

#doctor-razzmatazz-box {
	background-image: url("images/doctors/razzmatazz/every_colour.jpg");
}

#doctor-funnybones-box {
	background-image: url("images/doctors/funnybones/fish_in_space.png");
}

#doctor-coolio-box {
	background-image: url("images/doctors/coolio/cool_background.jpg");
}

#doctor-dizzylizzy-box {
	background-image: url("images/doctors/dizzylizzy/dizzylizzy_background.png");
}
